<div>
    <h2>Users List </h2>
    <ul>
        <li>Georgia O'Keeffe | Editor | Bacon Unlimited</li>
        <li>Rosa Bonheur | Viewer | Bacon Unlimited</li>
        <li>Frida Kahlo | Editor | Brownie Batter LLC.</li>
        <li>Yayoi Kusama | Viewer | Brownie Batter LLC.</li>
        <li>Alma Thomas | Viewer | Fried Green Tomatoes Inc.</li>
        <li>Amy Sherald | Viewer | Baked & Wired</li>
    </ul>
</div>

<div>
    <h2>Avivity Log </h2>
    <p>Will need to be filterable by dates, event type, etc. Also be able to view at the org and user level.</p>
    <ul>
        <li><a href="#!">Record 1</a></li>
        <li><a href="#!">Record 2</a></li>
        <li><a href="#!">Record 3</a></li>
        <li><a href="#!">Record 4</a></li>
        <li><a href="#!">Record 5</a></li>
        <li><a href="#!">Record 6</a></li>
        <li><a href="#!">Record 7</a></li>
        <li><a href="#!">Record 8</a></li>
        <li><a href="#!">Record 9</a></li>
    </ul>
</div>