<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="container">
    {% include 'includes/header.html' %}
    <div class="content">
        <h1>Super Cool File Storage Service</h1>
        <a href="{{ url_for('login') }}">Login</a><br>
        <a href="{{ url_for('new_user') }}">New User</a><br>
    </div>
    {% include 'includes/footer.html' %}
</body>
</html>