<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="container">
    {% include 'includes/header.html' %}
    <div class="content">
        <h1>Login Page</h1>

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.username }}
            {{ form.password }}
            {{ form.submit }}
        </form>

        <a href="{{ url_for('new_user') }}">Don't have an account? Create one here.</a>
    </div>
    {% include 'includes/footer.html' %}
</body>

</html>